.Welcome {
	display: flex;
	justify-content: center;
	// align-items: ;
	.img1 {
		width: 100%;
		max-width: 1000px;
		height: auto;
	}
	.img2 {
		width: 100%;
		max-width: 1000px;
		height: auto;
	}
}
